<div class="container">
  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>
  <a class="btn" ng-click="logout()">Logout</a>
  <div ngf-select ngf-drop ng-model="files"
                 ngf-multiple="multiple" ngf-pattern="pattern" accept="{{acceptSelect}}"
                 ng-disabled="disabled" ngf-capture="capture"
                 ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                 ngf-validate="validateObj"
                 ngf-keep="keep" ngf-keep-distinct="keepDistinct"
                 ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">Select File,
    <span ng-show="dropAvailable">Drop File or Paste Image</span>
    <img ngf-src="!files[0].$error && files[0]">
  </div>

</div>
